@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Georgia, Cambria, Times New Roman, Times, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2342 0.0065 258.3633);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2342 0.0065 258.3633);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2342 0.0065 258.3633);
  --primary: oklch(0.4335 0.0754 182.2315);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9461 0.0720 131.5456);
  --secondary-foreground: oklch(0.2342 0.0065 258.3633);
  --muted: oklch(0.9605 0.0046 258.3248);
  --muted-foreground: oklch(0.5134 0.0068 264.5062);
  --accent: oklch(0.9640 0.0169 192.3609);
  --accent-foreground: oklch(0.4335 0.0754 182.2315);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9605 0.0046 258.3248);
  --ring: oklch(0.4335 0.0754 182.2315);
  --chart-1: oklch(0.4335 0.0754 182.2315);
  --chart-2: oklch(0.5762 0.0995 182.3964);
  --chart-3: oklch(0.7610 0.2015 149.7403);
  --chart-4: oklch(0.9461 0.0720 131.5456);
  --chart-5: oklch(0.8757 0.0086 236.5758);
  --sidebar: oklch(0.4335 0.0754 182.2315);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.5762 0.0995 182.3964);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7610 0.2015 149.7403);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.5762 0.0995 182.3964);
  --sidebar-ring: oklch(0.7610 0.2015 149.7403);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-serif: Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.05;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.125rem;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.13);
  --tracking-normal: normal;
}

.dark {
  --background: oklch(0.2843 0.0219 232.0213);
  --foreground: oklch(0.9248 0.0071 268.5447);
  --card: oklch(0.3351 0.0253 234.8586);
  --card-foreground: oklch(0.9248 0.0071 268.5447);
  --popover: oklch(0.3351 0.0253 234.8586);
  --popover-foreground: oklch(0.9248 0.0071 268.5447);
  --primary: oklch(0.4335 0.0754 182.2315);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2124 0.0227 227.1289);
  --secondary-foreground: oklch(0.9248 0.0071 268.5447);
  --muted: oklch(0.3724 0.0199 239.6745);
  --muted-foreground: oklch(0.7659 0.0079 260.7314);
  --accent: oklch(0.3696 0.0269 222.6166);
  --accent-foreground: oklch(0.4335 0.0754 182.2315);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.4078 0.0281 228.5371);
  --input: oklch(0.3351 0.0253 234.8586);
  --ring: oklch(0.4335 0.0754 182.2315);
  --chart-1: oklch(0.4335 0.0754 182.2315);
  --chart-2: oklch(0.5762 0.0995 182.3964);
  --chart-3: oklch(0.7610 0.2015 149.7403);
  --chart-4: oklch(0.9461 0.0720 131.5456);
  --chart-5: oklch(0.8757 0.0086 236.5758);
  --sidebar: oklch(0.4335 0.0754 182.2315);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.5762 0.0995 182.3964);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7610 0.2015 149.7403);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.5762 0.0995 182.3964);
  --sidebar-ring: oklch(0.7610 0.2015 149.7403);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-serif: Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.125rem;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.10);
  --shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.10);
  --shadow-sm: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.20), 0 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.20), 0 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.20), 0 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.20), 0 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.20), 0 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}